{% extends 'backoffice/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="page-description d-flex align-items-center">
                <div class="page-description-content flex-grow-1">
                    <h1>Abouts</h1>
                </div>
                <div class="page-description-actions">
                    <a href="{% url 'create_about' %}" class="btn btn-primary"><i class="material-icons">add</i>Create About</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">All 'About Me' Objects</h5>
                </div>
                <div class="card-body">
                    <div class="example-container">
                        <div class="example-content">
                            <table class="table">
                                <thead class="table-dark">
                                <tr>
                                    <th width="5%" class="text-center">#</th>
                                    <th width="10%" class="text-center">Photo</th>
                                    <th width="30%" class="text-center">Text 1</th>
                                    <th width="30%" class="text-center">Text 2</th>
                                    <th width="22%" class="text-center">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for i in abouts %}
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td class="text-center"><img src="{{i.photo.url}}" height="64" width="64"></td>
                                    <td class="text-center">{{i.text1}}</td>
                                    <td class="text-center">{{i.text2}}</td>
                                    <td class="text-center">
                                        <a href="{% url 'update_about' i.id %}" class="btn btn-warning"><span class="material-symbols-outlined">update</span></a>
                                        <a href="{% url 'delete_about' i.id %}" class="btn btn-danger"><span class="material-symbols-outlined">delete</span></a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}