{% extends 'backoffice/base.html' %}
{% block content %}
<div class="container">
     <div class="row">
         <div class="col">
             <div class="page-description">
                 <h1>Update Portfolio</h1>
             </div>
         </div>
     </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="example-container">
                        <div class="example-content">
                            <form class="row g-3" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="col-md-12">
                                    <label for="image" class="form-label">Image (Default- <a href="{{portfolio.image.url}}">{{portfolio.image.url}}</a></label>
                                    <input type="file" class="form-control" name="image">
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}