{% extends 'backoffice/base.html' %}
{% block content %}
<div class="container">
     <div class="row">
         <div class="col">
             <div class="page-description">
                 <h1>Update About</h1>
             </div>
         </div>
     </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="example-container">
                        <div class="example-content">
                            <form class="row g-3" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="col-md-12">
                                    <label for="photo" class="form-label">Photo (Default-<a href="{{ about.photo.url }}">{{about.photo.url}})</a></label>
                                    <input type="file" class="form-control" name="photo">
                                </div>
                                <div class="col-md-12">
                                    <label for="text1" class="form-label">Text 1</label>
                                    <input type="text" class="form-control" name="text1" value="{{about.text1}}">
                                </div>
                                <div class="col-12">
                                    <label for="text2" class="form-label">Text 2</label>
                                    <input type="text" class="form-control" name="text2" value="{{about.text2}}">
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}